.red_box
{
    background-color: #FE654F;
}
.purple_box
{
    background-color: #B780FF;
}
.extra_rounded 
{
    border-radius: 1.5rem;
}
.extra_rounded_tr
{
    border-top-right-radius: 1.3rem;
}
.extra_rounded_r
{
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
}

.nowrap {
    white-space: nowrap;
}

.hide_on_start
{
    display: none;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .fa-1x {
    font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
    cursor: pointer;
  }
  .dark-blue-text {
    color: #0A38F5;
  }